body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: gray;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    margin: 0 auto;
}

/* header */
.header {
    position: relative;
}

.header_inner {
    padding: 1.2rem 0;

    justify-content: space-between;

}



/* navbar */
.nav {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.acex {
    display: flex;
}

.acey {
    display: flex;
}

.ace3{
    width: 39.8px;
    height: 44px;
    margin-top: 6px;
    margin-right: 4px;
}

h2{
font-family: "Montserrat";
font-size: 0.9;
color: white;
}

.nav_link {
    margin-left: 2rem;
    margin-top: 12px;
    position: relative;
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
    font-weight: medium;
    text-decoration: none;
    transition: .3s linear;
}

.nav_link:hover{
    color: red;
    transition: .3s linear;
}

.ace7{
    margin-top: 6px;
    margin-left: 30px;
    width: 29px;
    height: 29px;
}

/* past qisim */

.hero{
  height:calc(100vh - 90px);
  padding:0 100px;
  align-items:center;
  
}

.left5{
    display: flex;
    justify-content: space-between;
}

/* left */
.left{
  width:540px;
}

.left h1{
  font-family:Playfair Display,serif;
  font-size:64px;
  line-height:1.1;
  color:#d4af37;
  margin-bottom:28px;
}

.left h1 span{
  letter-spacing:14px;
}

.left p{
  font-size:14px;
  line-height:1.9;
  color:#b5b5b5;
  width:460px;
  margin-bottom:42px;
}

/* buttons */
.actions{
  display:flex;
  gap:18px;
}

.outline{
  background:transparent;
  border:1px solid #d4af37;
  color:#d4af37;
  padding:14px 36px;
  font-size:13px;
}

.gold{
  background:linear-gradient(135deg,#f7d87c,#b98a18);
  color:#000;
  padding:14px 36px;
  border:none;
  box-shadow:0 0 35px rgba(212,175,55,.45);
}

/* right */

.img1{
  width: 700px;
  height: 600px;
}

